h2 {
  margin-top: 20px;
  text-align: center;
  margin-bottom: 30px;
}

.review-area {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.word-list-table table {
  min-width: 390px;
  table {
    width: 100%;
  }
}

.index-clm {
  width: 30%;
}

.word-clm {
  width: 50%;
}

.general-info {
  display: flex;
  justify-content: space-between;

  .total {
    display: inline;
    h3 {
      display: inline-block;
      margin-bottom: 10px;
      font-size: 14px;
      font-weight: 400;
    }
    span {
      margin-left: 10px;
      font-size: 14px;
      font-weight: 400;
    }
  }
  .counter {
    display: inline;
    h3 {
      display: inline-block;
      margin-bottom: 10px;
      font-size: 14px;
      font-weight: 400;
    }
    span {
      margin-left: 10px;
      font-size: 14px;
      font-weight: 400;
    }
  }
}
